<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="header">
            <div class="header-container">
                <div class="heder-title">to do list</div>
                <input type="text" class="search" v-bind:value="valueInput" v-on:input="handlyInput" v-on:keypress.enter="addTask">
                <button v-on:click="addTask">add a task</button>
            </div>
        </div>
        <div class="container">
            <div class="todo_box">
                <div class="todo_title">
                    <h2>to do</h2>
                    <span>{{needDoList.length}}</span>
                </div>
                <div class="line"></div>
                <div class="todo_body" v-for="(mask, index) in needDoList" :key="mask.id">
                    <div class="check_box">
                        <input type="checkbox" v-on:change="doCheck(index, 'need')">
                        <h3>{{mask.title}}</h3>
                    </div>
                    <div class="">
                        <button v-on:click="removeMask(index, 'need')">remove</button>
                    </div>
                </div>
            </div>
            <div class="todo_box">
                <div class="todo_title">
                    <h2>done</h2>
                    <span>{{completeList.length}}</span>
                </div>
                <div class="line"></div>
                <div class="todo_body" v-for="(mask, index) in completeList" :key="mask.id">
                    <div class="check_box" >
                        <input type="checkbox" v-on:change="doCheck(index, 'complete')" checked>
                        <h3>{{mask.title}}</h3>
                    </div>
                    <div class="">
                        <button v-on:click="removeMask(index, 'complete')">remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./app.js"></script>
</body>
</html>